@media screen and (max-width: 992px){
    #banner,
    #tabbingsec,
    #pricing,
    #sub,
    #standart,
    #customer,
    #awesom{
        padding: 65px 0;
    }
    #banner h2{
        line-height: 36px;
        font-size: 25px;
    }
    #banner p{
        font-size: 15px;
    }
    #social .icon{
        margin-top: 50px;
    }
    #social .icon a{
        margin-right: 25px;
    }
    #social .icon a i{
        font-size: 30px;
    }
    #social p,
    #sub p,
    #standart p,
    #awesom p,
    #design p{
        font-size: 13px;
    }
    #tabbingsec p{
        font-size: 13px;
        padding-bottom: 15px;
    }
    #pricing .awesom_p,
    #customer .awesom_p{
        font-size: 13px;
    }
    #awesom .awesom_p,
    #contact .awesom_p{
        font-size: 13px;
        padding-bottom: 60px;
    }
    #pricing article p{
        font-size: 13px;
    }
    #pricing h2,
    #awesom h2,
    #customer h2,
    #design h2,
    #contact h2{
        font-size: 30px;
    }
    #sub h3,
    #standart h3,
    #awesom h3{
        font-size: 19px;
    }
    #customer article p{
        font-size: 13px;
    }
    .text_name{
        width: 50%;
        margin-left: 20px;
    }
    .text_name h3{
        font-size: 19px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .text_name span{
        font-size: 13px;
    }
    #contact input{
        font-size: 13px;
    }
    #contact textarea{
        font-size: 13px;
    }
}
@media screen and (max-width: 768px){

    .container-fluid > .navbar-header{
        margin: 0;
    }
    .navbar-inverse .navbar-collapse{
        text-align: right;
        margin-right: 20px;
    }
    #banner form {
        float: initial;
        margin: auto;
    }
    #social .icon{
        margin-top: 17px;
        text-align: center;
    }
    #social .icon a{
        margin-right: 15px;
    }
    #social .icon a i{
        font-size: 24px;
    }
    .tab-content{
        padding-left: 0;
    }
    .tab-links a{
        width: 100%;
        height: 50px;
        line-height: 51px;
    }
    .tab-links li{
        display: inline-block;
        width: 30%;
        margin: 0 1px;
    }
    .tabs ul{
        width: 100%;
        text-align: center;
    }
    .img-responsive{
        margin: auto;
    }
    .customer_block{
        margin-top: 100px;
    }
    p.arrow_box{
        max-width: 100%;
    }
    .avatar{
        width: 20%;
    }
    .text_name{
        width: 45%;
        margin-left: 20px;
    }
    p.arrow_box:after{
        left: 10%;
    }
}
@media screen and (max-width: 340px){
    #banner,
    #tabbingsec,
    #pricing,
    #sub,
    #standart,
    #customer,
    #contact,
    #awesom{
        padding: 45px 0;
    }
    #banner h2{
        line-height: 30px;
        font-size: 23px;
    }
    #social .icon{
        text-align: center;
    }
    #tabbingsec .img-responsive{
        margin-top: 10px;
    }
    #pricing h2,
    #awesom h2,
    #customer h2,
    #design h2,
    #contact h2{
        font-size: 27px;
    }
    .text_name {

        margin-left: 35px;
    }
    #sub h3,
    #standart h3,
    #awesom h3{
        font-size: 18px;
    }
    .div_footer a{
        font-size: 17px;
        margin-right: 9px;
    }
}